<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bigdata.dao.employee.EmployeeDao">
	
    <!-- 用户模型 -->
	<resultMap type="com.bigdata.model.employee.Employee" id="employee">
		<id column="id" property="id"/>
		<result property="name" column="name"></result>
		<result property="shardingId" column="sharding_id"></result>
	</resultMap>
	
	<!-- 添加字典数据 -->
	<insert id="addEmployeeList" parameterType="java.util.List">
		INSERT INTO employee(id,name,sharding_id)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.id},#{item.name},#{item.shardingId})
		</foreach>
	</insert>
	
	<!-- 查询符合条件总个数 -->
	<select id="getEmployeeDataCountbyParams" parameterType="com.bigdata.model.employee.SearchModel" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM EMPLOYEE
		WHERE 1=1
		<if test="'' != searchIndex and null != searchIndex">
			AND NAME LIKE CONCAT(#{searchIndex},'%')
		</if>
		<if test="'' != selectIndex and null != selectIndex">
			AND SHARDING_ID = ${selectIndex}
		</if>
	</select>
	
	<!-- 查询符合条件的结果集 -->
	<select id="queryEmployeeListByParams" parameterType="com.bigdata.model.employee.SearchModel" resultMap="employee">
		SELECT ID,NAME,SHARDING_ID
		FROM EMPLOYEE
		WHERE 1=1
		<if test="'' != searchIndex and null != searchIndex">
			AND NAME LIKE CONCAT(#{searchIndex},'%')
		</if>
		<if test="'' != selectIndex and null != selectIndex">
			AND SHARDING_ID = ${selectIndex}
		</if>
		<if test="null != page and null != size">
			LIMIT ${page},${size}
		</if>
	</select>
	
	<!-- 查询数据库中所有的数据个数 -->
	<select id="getEmployeeAllCount" resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM EMPLOYEE
	</select>
	
</mapper>