@CHARSET "UTF-8";

.ui-block-a, 
.ui-block-b, 
.ui-block-c,
.ui-block-d
{
	/**background-color: lightgray;*/
	border: 1px solid black;
	/*height: 100px;
	font-weight: bold;
	text-align: center;
	padding: 30px;*/
}